@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Readex+Pro:wght@160..700&display=swap');


/* Ajoutez votre style ici */
body {
    padding: 0%;
    margin: 0px;
    background: url("../images/visualisation-background.png");
}



.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    fill: none;
    stroke: #fdfdfd;
    stroke-width: 2px;
}

.link-choose {
    fill: none;
    stroke: orange;
    stroke-width: 4px;
}

.text {
    fill: white;
    /* Changez cette couleur en fonction de votre besoin */
    font-size: 24px;
    stroke: black;
    stroke-width: 0.01px;
    font-weight: normal;
    font-family: "Readex Pro", sans-serif;
}

.node text {
    /* Assurez-vous que les textes sont toujours affichés au-dessus des cercles */
    /* Un z-index plus élevé garantit que les textes seront superposés aux cercles */
    z-index: 1;
}

.text-carre {
    border-radius: 30em;
}

.bold {
    font-weight: bold;
    font-size: large;
}

#menu-right {
  position: absolute;
  background: #ffb81c;
  color: #ccc;
  right: 0;
  top: 0; /* Ajustez selon vos besoins */
  height: 100%;
  width: 20%; /* Largeur du menu */
  display: none; /* Masquer par défaut */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet d'élévation */
  z-index: 10; /* S'assurer qu'il est au-dessus d'autres éléments */
}

#menu-right h3 {
  color: #000;
}

/* Styles pour le menu */
#menu {
    position: absolute;
    background: #ffb81c;
    color: #000;
    padding: 10px;
    width: 33%;
    /* Taille fixe en largeur */
    height: 100%;
    display: none;
    word-wrap: break-word;
    /* Permet de sauter une ligne si le contenu dépasse la largeur fixe */
    bottom: 0px;
    left: -100%;
    z-index: 2;
    /* Déplacer le menu en dehors de la fenêtre */
    transition: left 1s;
    font-family: "Noto Sans Mono", monospace;
    /* Ajouter une transition pour une animation en douceur */
}

#menu p {
    margin-top: 1rem;
}

.pinfo {
    margin-top: 4Em;
}

/* Styles pour la bordure en forme de cercle */
.selected-circle {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    display: none;
}

.menutitre {
    font-family: "Anton", sans-serif;
    text-align: center;
    color: black;
}

.menulabel {
    font-family: "Readex Pro", sans-serif;
    
}

.add-window { 
  position: absolute;
  text-align: center;
  padding: 1em 2em 1em 2em;
  border: solid white 1px;
  border-radius: 20em;
  bottom: 6em;
  left: 34.6485px;
  background-color: #5a5a5a;
  color: white;
  z-index: 20;
}

.return-menu {
  position: absolute;
  text-align: center;
  padding: 1em 2em 1em 2em;
  border: solid white 1px;
  border-radius: 20em;
  bottom: 2em;
  left: 107.8985px;
  background-color: #5a5a5a;
  color: white;
  z-index: 20;
}

.reload-button {
  position: absolute;
  text-align: center;
  padding: 1em 2em 1em 2em;
  border: solid white 1px;
  border-radius: 20em;
  bottom: 11em;
  left: 96.5px;
  background-color: #5a5a5a;
  color: white;
  z-index: 20;
}

.list-windows {
  max-height: 60%;
  overflow-y: scroll;
  
}

/* Global */
div::-webkit-scrollbar {
  width: 8px;
}
/* Ascenseur */
div::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
}


.menulabel-right {
  font-family: "Readex Pro", sans-serif;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  border: solid 1px white;
  border-radius: 1em;
  width: 20em;
  margin-left: 2Em;
  margin-bottom: 1em;
  background-color: #252525;
}

#graph-container {
  position: relative;
    z-index: 1; 
}

#cancelPathButton {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    top: 90%;
    /* ajustez la valeur top selon votre préférence */
    left: 50%;
    /* ajustez la valeur left selon votre préférence */
    transform: translateX(-50%);
    z-index: 999;
    /* assurez-vous que le bouton a un z-index supérieur à celui des autres éléments */
}

#cancelPathButton:hover {
    background-color: #fff;
}

#cancelPathButton:active {
    box-shadow: #422800 2px 2px 0 0;
    /* transform: translate(2px, 2px); */
}




#SelectionJSON {
    text-align: center;
    color: white;
    margin-top: 5em;
    font-family: "Readex Pro", sans-serif;
}

#form-selected-JSON {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

 #submit-selected-JSON {
    margin-top: 4em;
    width: 10%;
    padding: 2em;
    align-content: center;
 }

.drop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
    padding: 20px;
    border: 2px dashed #222245;
    color: #222245;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    width: 30%;
  }
  
  .drop-container:hover {
    background-color: #eee;
  }
  
  .drop-title {
    color: #222245;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #222245;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #222245;
  }
  
  input[type=file]:focus {
    outline: 2px dashed #222245;
    outline-offset: 2px;
  }
  
  input[type=file]::file-selector-button {
    margin-right: 8px;
    border: none;
    background-color: #222245;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #4747b8;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #1e1e3f;
      color: #fff;
    }
  
    .drop-container {
      border-color: #35356e;
      color: #fff;
    }
  
    .drop-container:hover {
      background-color: #282853;
    }
  
    .drop-title {
      color: #fff;
    }
  
    input[type=file] {
      color: #fff;
      border: 1px solid #35356e;
      background-color: #1e1e3f;
    }
  
    input[type=file]:focus {
      outline: 2px dashed #7c7cc0;
      outline-offset: 2px;
    }
  
    input[type=file]::file-selector-button {
      background-color: #35356e;
      color: #fff;
    }
  }


  .image-selector {
    margin-top: 20px;
}

.image-grid {
  padding : 10px;
  border: rgb(78, 78, 78) solid 1px;
  background: grey;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.selectable-image {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 1em;
}

.selectable-image:hover {
    border-radius: 50em;
    border: 3px solid rgb(78, 78, 78);
}


.sidebar {
  position: fixed; /* ou absolute selon votre besoin */
  right: 20px; /* Distance à droite */
  top: 50%; /* Positionne le haut de la sidebar au milieu de l'écran */
  transform: translateY(-50%); /* Ajuste la position pour centrer verticalement */
  z-index: 1000; /* Assurez-vous que ce nombre soit supérieur à celui de graph-container */
  background-color: white; /* Couleur de fond de la sidebar */
  padding: 10px; /* Ajoutez un peu d'espace autour du contenu */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de relief */
  border-radius: 8px; /* Coins arrondis */
}

#toggleSidebar {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

#windowMenu {
  margin-top: 10px;
  padding: 10px;
}

.hidden {
  display: none;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}